

.we{
    padding-top: 30px;
    font-size: 96px;
    position: absolute;
    left: 145px;
    font-weight: 10;
    /* font-family: 'Plus Jakarta Sans', sans-serif; */
    
}

.design_data{
    padding-top:45px;
    font-size: 96px;
    position: absolute;
    left: 305px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 80px;
}
.animate{
    margin-top: 75px;
    font-size: 96px;
    position: absolute;
    padding-top: 75px;
    left: 145px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 80px;
    
}

/* h1:nth-child(3){
    font-size: 70px;
} */
.creative{
    font-size: 70px;
    padding-top: 150px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 96px;
    font-weight: 30;
}

.design{
    margin-top: -20px;
    font-size:70px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 96px;
    font-weight: 20;

}

.outstadning{
    font-size: 70px;
    padding-top:180px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 96px;
    font-weight: 20;
}

.animation{
    margin-top: -20px;
    font-size: 70px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 96px;
    font-weight: 20;
}
.anime{
    padding-top: 300px;
}

.grass{
    padding-top:150px;
}

.flexbox{
    padding-top:85px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:0px;
    padding-left: 80px;
}

.text{
    font-family: 'Outfit', 'sans-serif';
    font-size: 35px;
}